/*    ==Scripting Parameters==

    Source Server Version : SQL Server 2014 (12.0.2000)
    Source Database Engine Edition : Microsoft SQL Server Express Edition
    Source Database Engine Type : Standalone SQL Server

    Target Server Version : SQL Server 2017
    Target Database Engine Edition : Microsoft SQL Server Standard Edition
    Target Database Engine Type : Standalone SQL Server
*/
USE [master]
GO
/****** Object:  Database [INVOICE]    Script Date: 1/2/2019 4:47:31 AM ******/
CREATE DATABASE [INVOICE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'INVOICE', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\INVOICE.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'INVOICE_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\INVOICE_log.ldf' , SIZE = 560KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [INVOICE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [INVOICE]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/2/2019 4:47:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblBarang]    Script Date: 1/2/2019 4:47:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblBarang](
	[barangID] [int] IDENTITY(1,1) NOT NULL,
	[namaBarang] [nvarchar](max) NULL,
	[unitPrice] [float] NOT NULL,
 CONSTRAINT [PK_dbo.tblBarang] PRIMARY KEY CLUSTERED 
(
	[barangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInvoice]    Script Date: 1/2/2019 4:47:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInvoice](
	[invoiceID] [int] IDENTITY(1,1) NOT NULL,
	[nomerInvoice] [nvarchar](max) NULL,
	[langgananID] [int] NOT NULL,
	[tanggalInvoice] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tblInvoice] PRIMARY KEY CLUSTERED 
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblInvoicesDetail]    Script Date: 1/2/2019 4:47:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblInvoicesDetail](
	[invoiceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[jumlahBarang] [int] NOT NULL,
	[invoiceID] [int] NOT NULL,
	[barangID] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tblInvoicesDetail] PRIMARY KEY CLUSTERED 
(
	[invoiceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblLangganan]    Script Date: 1/2/2019 4:47:31 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblLangganan](
	[langgananID] [int] IDENTITY(1,1) NOT NULL,
	[namaLangganan] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.tblLangganan] PRIMARY KEY CLUSTERED 
(
	[langgananID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_langgananID]    Script Date: 1/2/2019 4:47:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_langgananID] ON [dbo].[tblInvoice]
(
	[langgananID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_barangID]    Script Date: 1/2/2019 4:47:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_barangID] ON [dbo].[tblInvoicesDetail]
(
	[barangID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_invoiceID]    Script Date: 1/2/2019 4:47:31 AM ******/
CREATE NONCLUSTERED INDEX [IX_invoiceID] ON [dbo].[tblInvoicesDetail]
(
	[invoiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblInvoice]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblInvoice_dbo.tblLangganan_langgananID] FOREIGN KEY([langgananID])
REFERENCES [dbo].[tblLangganan] ([langgananID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblInvoice] CHECK CONSTRAINT [FK_dbo.tblInvoice_dbo.tblLangganan_langgananID]
GO
ALTER TABLE [dbo].[tblInvoicesDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblInvoicesDetail_dbo.tblBarang_barangID] FOREIGN KEY([barangID])
REFERENCES [dbo].[tblBarang] ([barangID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblInvoicesDetail] CHECK CONSTRAINT [FK_dbo.tblInvoicesDetail_dbo.tblBarang_barangID]
GO
ALTER TABLE [dbo].[tblInvoicesDetail]  WITH CHECK ADD  CONSTRAINT [FK_dbo.tblInvoicesDetail_dbo.tblInvoice_invoiceID] FOREIGN KEY([invoiceID])
REFERENCES [dbo].[tblInvoice] ([invoiceID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tblInvoicesDetail] CHECK CONSTRAINT [FK_dbo.tblInvoicesDetail_dbo.tblInvoice_invoiceID]
GO
USE [master]
GO
